extends index_layout

block content
  .form-box(ng-app="chPwdApp",ng-controller="chPwdController")
    .form-box-part.well
      form#chPwdForm.form-signin(action="/",name="chPwdForm",novalidate)
        h2.form-signin-heading Change password
        hr
        .form-group
          label Old Password
          input#oldPassword.form-control(type='password',name="old_password",placeholder='Old Password',maxlength="20",autofocus,ng-required='true',ng-model="old_password")
          div.label.label-danger(ng-show="chPwdForm.old_password.$error.required") Old password is required.          
        .form-group
          label New Password
          input#newPassword.form-control(type='password',name="new_password",placeholder='New Password',maxlength="20",ng-required='true',ng-model="new_password",ng-minlength="6")
          div.label.label-danger(ng-show="chPwdForm.new_password.$error.required") New password is required.
          div.label.label-danger(ng-show="!chPwdForm.new_password.$error.required && chPwdForm.new_password.$error.minlength") New password is too short.
        .form-group
          label Re-enter New Password
          input#confirmPassword.form-control(type='password',placeholder='Re-enter New Password',name="confirm_password",maxlength="20",ng-required='true',ng-model="confirm_password",ng-match="new_password")
          div.label.label-danger(ng-show="chPwdForm.confirm_password.$error.required") Re-enter New password is required.
          div.label.label-danger(ng-show="!chPwdForm.new_password.$error.required && !chPwdForm.confirm_password.$error.required && chPwdForm.confirm_password.$error.match") New password and Re-enter New password is not matching.
        button.btn.btn-lg.btn-primary.btn-block(type='button',ng-disabled="chPwdForm.$invalid",ng-click="processForm()")
          | Update 
          i.glyphicon.glyphicon-chevron-right
  script(type='text/javascript',src="/javascripts/changepassword.js")