extends index_layout

block content
  .form-box
    .form-box-part.well
      form.form-signin
        h2.form-signin-heading Change password
        hr
        .form-group
          label Old Password
          input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
        .form-group
          label New Password
          input#inputPassword.form-control(type='password', placeholder='Password', required='')
        .form-group
          label Re-enter New Password
          input#inputPassword.form-control(type='password', placeholder='Confirm Password', required='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit')
          | Update 
          i.glyphicon.glyphicon-chevron-right