extends index_layout

block content
  div(ng-app="")
    div.jumbotron
      div.row
        div.col-lg-12
          div.container
            h1 The simplest way to keep notes.
            p Light, clean, and free. Notes Application is now available for iOS, Android, Mac, Windows, Linux, and the web.  
