extends index_layout

block content
  div.form-box(ng-app="loginApp",ng-controller="loginController")
    div.form-box-part.well
      // form start
      form#loginForm.form-signin(name='loginForm',novalidate)
        // heading
        h2.form-signin-heading Sign in Here:
        hr
        // email input
        div.form-group
          div.input-group
            span.input-group-addon
              b @
            input#inputEmail.form-control(type="email", placeholder="Email address",autofocus,name="email_id",maxlength="100",ng-required="true",ng-model="email_id")
          div.label.label-danger(ng-show="loginForm.email_id.$error.required") Email Id is required.
          div.label.label-danger(ng-show="!loginForm.email_id.$error.required && loginForm.email_id.$invalid") Please input a valid Email Id.
        // password input
        div.form-group
          div.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input#inputPassword.form-control(type="password",placeholder="Password",name="password",maxlength="20",ng-required="true",ng-model="password")
          div.label.label-danger(ng-show="loginForm.password.$error.required") Password is required.
        // singin button
        button.btn.btn-lg.btn-primary.btn-block(type="button",ng-disabled="loginForm.$invalid",ng-click="processForm()") Login
          i.glyphicon.glyphicon-chevron-right
      // form end
  script(type='text/javascript',src="/javascripts/login.js")